Repository voxpupuli/puppet-sssd, pull requests merged in 2023-08, with the labels that each got.

#2 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible

#3 Add Puppet 8 support
  metadata.json
Labels: enhancement

#6 puppet-lint: Enable type & puppet-strings linting
  .puppet-lint.rc
  .sync.yml
Labels: enhancement

#5 Release 1.0.0
  CHANGELOG.md
  HISTORY.md
  metadata.json
Labels: skip-changelog

#7 Fix minor documentation typo
  README.md
Labels: documentation
